:root {
    --bt-normal-color: #20C997;
    --bt-hover-color: #41D1A7;
    --bt-click-color: #3CBC96;
    --bt-disable-color: #96C7B9;

    --bg-normal-color: #212529;
    --bg-dark-color: #14171A;

    --state-red-color: #DC3545;
    --state-yellow-color: #FFC107;
    --state-green-color: #198754;
    --state-gray-color: #6C757D;
}