.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    min-height: 64px;
    width: 100%;
    -webkit-box-shadow:0px 0px 45px 23px rgba(0,0,0,0.82);
    -moz-box-shadow: 0px 0px 45px 23px rgba(0,0,0,0.82);
    box-shadow: 0px 0px 45px 23px rgba(0,0,0,0.82);
    z-index: 1000;
}

.bt-set-container {
    height: 100%;
    min-width: 560px;
}

.bt-nav-fnc {
    margin: 0px 8px 0px 8px;
    height: 38px;
}

.logo-container {
    height: 64px;
    width: 300px;
}

.logo-img {
    width: auto;
    height: 100%;
}

.user-container {
    width: 320px;
    max-width: 320px;
}

.user-box {
    display: flex;
    flex-direction: row;
    width: 256px;
    min-width: 256px;
    height: 48px;
    align-items: center;
}

.user-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin: 0px 8px 0px 8px;
}

.user-name-container {
    color: #fff;
    font-size: 16pt;
    margin-right: 32px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: "...";
}

.user-bt-logout {
    margin: 0px 8px 0px 8px;
    height: 38px;
}