body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color:#fff;
    background-color: #212529;
}

.site-body-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin-top: 128px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.dbt {
    color: #fff;
}

.dbt:hover {
    color: #bbbbbb;
}

button.bt {
    border-radius: 24px;
    padding: 6px 16px;
    margin: 4px;
    background-color: var(--bg-normal-color);
}

button.bt-logout {
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: var(--bg-normal-color);
}

/*Normalny guzik*/
button.bt-normal {
    color: var(--text-color);
    border: 2px solid var(--default-border-color);
    transition: all .1s linear;
}

button.bt-normal:hover:enabled {
    color: var(--default-content-hover);
    border: 2px solid var(--default-border-hover);
    box-shadow: 0 0px 16px 0 var(--default-glow-color-in), 0 0px 50px 0 var(--default-glow-color-out);
}

button.bt-normal:disabled {
    border: 2px solid var(--default-border-distable);
    color: var(--text-distable);
}

/*Dangerous guzik*/
button.bt-danger {
    color: var(--text-color);
    border: 2px solid var(--danger-border-color);
    transition: all .1s linear;
}

button.bt-danger:hover:enabled {
    color: var(--danger-content-hover);
    border: 2px solid var(--danger-border-hover);
    box-shadow: 0 0px 16px 0 var(--danger-glow-color-in), 0 0px 50px 0 var(--danger-glow-color-out);
}

button.bt-danger:disabled {
    border: 2px solid var(--danger-border-distable);
    color: var(--text-distable);
}

/*Akceptujący guzik*/
button.bt-accept {
    color: var(--text-color);
    border: 2px solid var(--accept-border-color);
    transition: all .1s linear;
}

button.bt-accept:hover:enabled {
    color: var(--accept-content-hover);
    border: 2px solid var(--accept-border-hover);
    box-shadow: 0 0px 16px 0 var(--accept-glow-color-in), 0 0px 50px 0 var(--accept-glow-color-out);
}

button.bt-accept:disabled {
    border: 2px solid var(--accept-border-distable);
    color: var(--text-distable);
}



/*Sellektory*/

select.sl-default {
    color: var(--text-color);
    background-color: var(--bg-normal-color);
    border: 2px solid var(--default-border-color);
    border-radius: 16px;
    padding: 6px 16px;
}