.anime-table {
    width: 1440px;
    min-width: 1024px;
}

.table-header-menu {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtr-state-selector {
    width: 256px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    width: 320px;
    display: flex;
    align-content: center;
}

.anime-row-container {
    height: 70px;
}

.ch-column {
    width: 16px;
}

.img-column {
    width: 50px;
}

.title-column {
    width: 70%;
}

.ch-container {
    height: 70px;
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

.anime-title-box {
    max-width: 800px; /* Maksymalna szerokość */
    overflow: hidden; /* Ukrywa nadmiarowy tekst */
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
    text-overflow: ellipsis; /* Dodaje "..." na końcu */
    display: inline-block;
    position: relative;
}

.anime-title {
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
}

.anime-title-scrolling {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-title-box:hover .anime-title {
    animation: scrollText 5s linear infinite alternate;
    text-overflow: clip; /* Usuwa "..." podczas przewijania */
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-10%);
    }
  }

.anime-add-record-date {
    font-size: 8pt;
}

.anm-epst-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

.anm-epbt-container {
    display: flex;
    flex-direction: row;
    margin: 0px 32px 0px 16px;
}

.txt-ep-nuber-view {
    width: 32px;
    text-align: center;
}

.tb-filter-sellect {
    width: 260px;
    max-width: 260px;
    padding: 12px;
    background-color: var(--bg-dark-color);
    border: 0;
    border-radius: 8px 8px 8px 8px;
    color: #fff;
}

/*Kolory ikon*/
.svg-watched {
    color: var(--state-green-color);
}

.svg-watch {
    color: var(--state-yellow-color);
}

.svg-nowatched {
    color: var(--state-red-color);
}

.svg-canceled {
    color: var(--state-gray-color);
}

.state-select-txt {
    margin-left: 8px;
}


/*Selektor oglądania*/
.watch-state-selector {
    width: 180px;
    height: 38px;
    background-color: var(--bg-dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.watch-txt-content {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.watch-state-hover-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: var(--bg-dark-color);
    border-radius: 0px 0px 6px 6px;
}

.watch-state-hidden-menu {
    visibility: hidden;
}

.watch-state-visible-menu {
    visibility: visible;
}

.watch-state-selector-radius-hidden-menu {
    border-radius: 6px 6px 6px 6px;
}

.watch-state-selector-radius-visible-menu {
    border-radius: 6px 6px 0px 0px;
}

.state-select {
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.state-select-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 156px;
}

.state-select:hover {
    background-color: var(--bg-normal-color); 
}

/*Opis anime*/
.anime-descryption-content {
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-containcer {
    width: 232px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.descryption-containcer {
    max-width: 1024px;
    min-width: 1024px;
    width: 1024px;
}

.title-box {
    margin: 8px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.title-string {
    font-size: 20pt;
    font-weight: bold;
}

.descryption-string {
    margin: 8px;
    max-height: 284px;
    width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    text-align: justify;
}

.anime-descryption-header {
    height: 38px;
    max-height: 38px;
    min-height: 38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hide-descryption {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

/* ROW SEPARATOR */
.row-separator {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.separate-string {
    font-size: 20pt;
    font-weight: bold;
}

.ch-separator {
    height: 45px;
    display: flex;
    align-items: center;
}